{% extends "academy/academy-admin-base.html" %}

{% block morecontent %}
    {% verbatim %}
    <div ng-controller="AdminInstructorsController as ctrl">
        <h5>Instructors
            <button class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#create-instructor-modal">Add Instructor
            </button>
        </h5>
        <h6 ng-repeat="instructor in ctrl.instructors | orderBy: 'last_name'">
            {{ instructor.first_name }} {{ instructor.last_name }}
            <small>{{ instructor.identification }}</small>
        </h6>

        <!-- Student creation modal -->
        <div class="modal" id="create-instructor-modal" tabindex="-1" role="dialog"
             aria-labelledby="create-instructor-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="create-instructor" ng-submit="ctrl.createInstructor()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add an instructor to your institution</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.errorMessage">{{ ctrl.errorMessage }}</p>
                            <input type="email" ng-model="ctrl.newInstructor.email" class="form-control"
                                   placeholder="Instructor's email"
                                   required>
                            <br>
                            <input type="text" ng-model="ctrl.newInstructor.identification" class="form-control"
                                   placeholder="[Optional] Institution Id (e.g. employee number)">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block extrascripts %}
    <script src="/static/js/academy/academyFactory.js"></script>
    <script src="/static/js/academy/adminInstructorsController.js"></script>
{% endblock %}