{% extends "base.html" %}

{% block title %} {{ academy.name }} | {% endblock %}

{% block extrahead %}
    <style>
        .nav-pills > li > a {
            border-radius: 0px;
        }
    </style>
{% endblock %}

{% block content %}
    {% url 'academy-admin-home-page' academy.short_name as admin_home %}
    {% url 'academy-admin-courses-page' academy.short_name as admin_courses %}
    {% url 'academy-admin-students-page' academy.short_name as admin_students %}
    {% url 'academy-admin-instructors-page' academy.short_name as admin_instructors %}
    <h4>{{ academy.name }}
        <small>Administration</small>
    </h4>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked">
                <li {% if request.path == admin_home %}class="active"{% endif %}><a href="{{ admin_home }}"><i
                        class="fa fa-fw fa-home"></i> Home</a></li>
                <li {% if request.path == admin_courses %} class="active"{% endif %}><a href="{{ admin_courses }}"><i
                        class="fa fa-book fa-fw"></i> Courses</a></li>
                <li {% if request.path == admin_students %}class="active"{% endif %}><a href="{{ admin_students }}"><i
                        class="fa fa-fw fa-comments"></i> Students</a></li>
                <li {% if request.path == admin_instructors %}class="active"{% endif %}><a
                        href="{{ admin_instructors }}"><i
                        class="fa fa-fw fa-comments"></i> Instructors</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            {% block morecontent %}
            {% endblock %}
        </div>
    </div>

{% endblock %}