{% extends "academy/academy-admin-base.html" %}

{% block morecontent %}
    {% verbatim %}
    <div ng-controller="AdminCoursesController as ctrl">
        <h5>Courses
            <button class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#create-course-modal">New Course
            </button>
        </h5>
        <h6 ng-repeat="course in ctrl.courses | orderBy: 'create_date':true">
            <a href="" ng-click="ctrl.loadCourse(course)" data-toggle="modal" data-target="#edit-course-modal">{{
                course.name }}</a>
            <small ng-repeat="instructor in course.instructor_details">{{ instructor.first_name }} {{
                instructor.last_name }}{{$last ? '' : ', '}}
            </small>
        </h6>

        <!-- Course creation modal -->
        <div class="modal" id="create-course-modal" tabindex="-1" role="dialog"
             aria-labelledby="create-course-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="create-course" ng-submit="ctrl.createCourse()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create a new course</h4>
                        </div>
                        <div class="modal-body">
                            <input ng-model="ctrl.newCourse.name" class="form-control" placeholder="Course Name"
                                   required>
                            <br>
                            <textarea ng-model="ctrl.newCourse.description" class="form-control"
                                      placeholder="Brief course description (you can change this later)"
                                      required></textarea>
                            <br>
                            <h6>Assign one or more instructors to this course</h6>
                            <select multiple="" class="form-control" ng-model="ctrl.newCourse.instructors" required>
                                <option ng-repeat="i in ctrl.instructors" value="{{ i.url }}">
                                    {{ i.last_name }}, {{ i.first_name }}
                                </option>
                            </select>
                            <br>
                            <p>
                                <small>Note: You or the course instructor can add students to this course later.</small>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal" role="dialog" tabindex="-1" id="edit-course-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit course</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-show="ctrl.updateErrorMessage" class="text-danger">{{ ctrl.updateErrorMessage }}</p>
                        <input ng-model="ctrl.selectedCourse.name" class="form-control" placeholder="Course Name"
                               required>
                        <br>
                        <textarea ng-model="ctrl.selectedCourse.description" class="form-control"
                                  placeholder="Brief course description"
                                  required></textarea>
                        <br>
                        <h6>Assign one or more instructors to this course</h6>
                        <select multiple="" class="form-control" ng-model="ctrl.selectedCourse.instructors" required>
                            <option ng-repeat="i in ctrl.instructors" value="{{ i.url }}">
                                {{ i.last_name }}, {{ i.first_name }}
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" ng-click="ctrl.updateCourse(ctrl.selectedCourse)">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endverbatim %}
{% endblock %}

{% block extrascripts %}
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/academy/academyFactory.js"></script>
    <script src="/static/js/academy/adminCoursesController.js"></script>
{% endblock %}