{% extends "base.html" %}

{% block title %} {{ academy.name }} | {% endblock %}

{% block content %}
    <h3>{{ academy.name }}</h3>
    <div class="row">
        <div class="col-sm-8">
            <h5>Courses you are currently teaching</h5>
            <div class="list-group">
                {% for course in courses %}
                    <a href="{% url 'course-admin-home-page' course.pk %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ course.name }}</h4>
                        <p class="list-group-item-text">Students: {{ course.students.all.count }},
                            Created: {{ course.create_date }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}