{% extends "base.html" %}

{% block title %} {{ academy.name }} | {% endblock %}

{% block content %}
    <h3>{{ academy.name }}</h3>
    <div class="row">
        <div class="col-sm-8">
            <h5>Courses you are currently enrolled in</h5>
            <div class="list-group">
                {% for course in courses %}
                    <a href="{% url 'course-home-page' course.pk %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ course.name }}</h4>
                        {% for instructor in course.instructors.all %}
                            <p class="list-group-item-text">{{ instructor.get_name }}</p>
                        {% endfor %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}