{% extends "academy/academy-admin-base.html" %}

{% block morecontent %}
    {% verbatim %}
    <div ng-controller="AdminStudentsController as ctrl">
        <h5>Students
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-students-modal">
                Add students
            </button>
        </h5>
        <div class="row">
            <div class="col-sm-4">
                <h4>Enrolled Students</h4>
                <h6 ng-repeat="student in ctrl.students | orderBy: 'last_name'">
                    <a href="" ng-click="ctrl.loadStudent(student)" data-toggle="modal"
                       data-target="#edit-student-modal">{{ student.last_name }}, {{ student.first_name }}</a>
                    <small>{{ student.identification }}</small>
                    <a href="" ng-click="ctrl.loadStudent(student)" class="pull-right" data-toggle="modal"
                       data-target="#remove-student-modal"><i class="fa fa-fw fa-times"></i></a>
                </h6>
            </div>
            <div class="col-sm-4">
                <h4>Invitations</h4>
                <h6 ng-repeat="invite in ctrl.invitations">{{ invite.email }}</h6>
            </div>
        </div>

        <!-- Add students modal -->
        <div class="modal" id="add-students-modal" tabindex="-1" role="dialog"
             aria-labelledby="add-students-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="add-students" ng-submit="ctrl.addStudents()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add students</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.errorMessage">{{ ctrl.errorMessage }}</p>
                            <textarea ng-model="ctrl.emails" class="form-control" rows="10"
                                      placeholder="Enter comma separated emails of students you want add (e.g. ram@email.com, john@hotmail.com)"
                                      required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Add students results modal -->
        <div class="modal" id="results-modal" tabindex="-1" role="dialog"
             aria-labelledby="results-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add students</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="ctrl.addResult.new_students">
                            <h5>New students
                                <small> These students were added to your academy</small>
                            </h5>
                            <p ng-repeat="student in ctrl.addResult.new_students">{{ student.last_name }}, {{
                                student.first_name }} ({{ student.email }})</p>
                        </div>
                        <div ng-show="ctrl.addResult.new_invitations">
                            <h5>New invitations
                                <small> Invitations were sent to the following emails</small>
                            </h5>
                            <p ng-repeat="email in ctrl.addResult.new_invitations">{{ email }}</p>
                        </div>
                        <div ng-show="ctrl.addResult.old_invitations">
                            <h5>Old invitations
                                <small> Invitations were already sent to the following emails earlier</small>
                            </h5>
                            <p ng-repeat="email in ctrl.addResult.old_invitations">{{ email }}</p>
                        </div>
                        <div ng-show="ctrl.addResult.old_students">
                            <h5>Old students
                                <small> These students were already enrolled in your academy</small>
                            </h5>
                            <p ng-repeat="student in ctrl.addResult.old_students">{{ student.last_name }}, {{
                                student.first_name
                                }} ({{ student.email }})</p>
                        </div>
                        <div ng-show="ctrl.addResult.failures">
                            <h5>Failures
                                <small> The following emails were invalid</small>
                            </h5>
                            <p class="text-danger" ng-repeat="email in ctrl.addResult.failures">{{ email }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit student modal -->
        <div class="modal" id="edit-student-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editStudentModalLabel">{{ ctrl.selectedStudent.user.first_name }} {{
                            ctrl.selectedStudent.user.last_name }}</h4>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" ng-model="ctrl.selectedStudent.identification"
                               placeholder="Student Identification Number">
                        <br>
                        <textarea class="form-control" ng-model="ctrl.selectedStudent.notes"
                                  placeholder="Notes"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button ng-click="ctrl.editStudent(ctrl.selectedStudent)" type="button" class="btn btn-primary"
                                data-dismiss="modal">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="remove-student-modal" tabindex="-1" role="dialog"
             aria-labelledby="remove-student-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="remove-student-modal-label">Remove {{
                            ctrl.selectedStudent.user.first_name }} {{
                            ctrl.selectedStudent.user.last_name }}?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove <strong>{{ ctrl.selectedStudent.user.first_name }} {{
                            ctrl.selectedStudent.user.last_name }}</strong> from this academy?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger"
                                ng-click="ctrl.removeStudent(ctrl.selectedStudent)">Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    {% endverbatim %}

{% endblock %}

{% block extrascripts %}
    <script src="/static/js/academy/academyFactory.js"></script>
    <script src="/static/js/academy/adminStudentsController.js"></script>
{% endblock %}