{% extends "base.html" %}

{% block title %} {{ course.name }} | {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/css/course.css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
    <h5 class="page-header course-title">{{ course.name }}
        {% for instructor in course.instructors.all %}
            <small>{{ instructor.get_name }}</small>
        {% endfor %}
    </h5>

    <div class="row">
        <div class="col-sm-2">
            {% url 'course-home-page' course.pk as course_home %}
            {% url 'course-resources-page' course.pk as course_resources %}
            {% url 'course-forum-page' course.pk as course_forum %}
            {% url 'course-announcements-page' course.pk as course_announcements %}
            {% url 'course-gradebook-page' course.pk as course_gradebook %}


            <ul class="nav nav-pills nav-stacked">
                <li {% if request.path == course_home %}class="active"{% endif %}><a href="{{ course_home }}"><i
                        class="fa fa-fw fa-home"></i> Home</a></li>
                <li {% if course_resources in request.path %}class="active"{% endif %}><a href="{{ course_resources }}"><i
                        class="fa fa-fw fa-book"></i> Resources</a></li>
                <li {% if course_forum in request.path %}class="active"{% endif %}><a href="{{ course_forum }}"><i
                        class="fa fa-fw fa-comments"></i> Forum</a></li>
                <li {% if course_announcements in request.path %}class="active"{% endif %}><a
                        href="{{ course_announcements }}"><i
                        class="fa fa-fw fa-bullhorn"></i> Announcements</a></li>
                <li {% if request.path == course_gradebook %}class="active"{% endif %}><a href="{{ course_gradebook }}"><i
                        class="fa fa-fw fa-bar-chart"></i> Gradebook</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            {% block coursecontent %}
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    {% block extraccoursescripts %}
    {% endblock %}
{% endblock %}