{% extends 'course/course-base.html' %}

{% block coursecontent %}
    <h6>Announcements</h6>
    {% for announcement in announcements %}
        <h6>
            <small>{{ announcement.create_date | date }}</small>
            <a href="{% url 'course-announcement-detail-page' course.pk announcement.pk %}">{{ announcement.title }}</a>
        </h6>
    {% endfor %}
{% endblock %}