{% extends 'course/course-base.html' %}

{% block coursecontent %}
    {% verbatim %}
    <div ng-controller="CourseGradebookController as ctrl">
        <h6>Gradebook</h6>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Topic</th>
                <th>Marks</th>
                <th>Letter Grade</th>
                <th>Instructor's comments</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="topic in ctrl.topics">
                <td>{{ topic.name }}</td>
                <td><span ng-show="topic.grade.marks">{{ topic.grade.marks }}/{{ topic.maximum_marks }}</span></td>
                <td>{{ topic.grade.letter_grade }}</td>
                <td>{{ topic.grade.comments }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endverbatim %}
{% endblock %}

{% block extraccoursescripts %}
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseGradebookController.js"></script>
{% endblock %}
