{% extends 'course/course-base.html' %}

{% block coursecontent %}
    <h6><a href="{% url 'course-resources-page' course.pk %}">Resources</a> &gt; {{ topic_item.topic.name }}
        &gt; {{ topic_item.name }}
    </h6>
    {% verbatim %}
    <div ng-controller="CourseQuizController as ctrl">
        <h5>{{ ctrl.quiz.name }}</h5>
        <h6>Total questions: {{ ctrl.quiz.quizquestion_set.length }}</h6>
        <h6>Maximum attempts: {{ ctrl.quiz.maximum_attempts }}</h6>
        <h6>Previous attempts: {{ ctrl.pastSubmissions.length }}
            <button class="btn btn-default btn-xs" ng-show="ctrl.pastSubmissions.length && !ctrl.showPastSubmissions"
                    ng-click="ctrl.showPastSubmissions = true">View past submissions
            </button>
        </h6>

        <!-- Past submissions -->
        <div class="past-submissions" ng-show="ctrl.showPastSubmissions">
            <button ng-show="!ctrl.showFeedback" class="btn btn-xs btn-default" ng-click="ctrl.showFeedback = true">
                Show feedback
            </button>
            <button ng-show="ctrl.showFeedback" class="btn btn-xs btn-success" ng-click="ctrl.showFeedback = false">
                Hide feedback
            </button>
            <div class="past-submission" ng-repeat="submission in ctrl.pastSubmissions | orderBy: '-attempt'">
                <h5><u>Attempt {{ submission.attempt }}</u></h5>
                <div>Submitted on {{ submission.created_timestamp }}</div>
                <div>Total Score <strong>{{ submission.score }}</strong></div>
                <div>Questions attempted: {{ submission.num_responses }}/{{ ctrl.quiz.quizquestion_set.length }}</div>
                <div class="quiz-question"
                     ng-repeat="question in ctrl.quiz.quizquestion_set | orderBy: 'sort_order' track by $index">
                    <h6>Question {{ $index + 1 }}
                        <small>(Maximum Score: {{ question.maximum_marks }})</small>
                    </h6>
                    {{ question.content }}
                    <div>Your answer: {{ ctrl.getResponse(question, submission) ?
                        ctrl.getResponse(question, submission).response_content : '-' }}
                    </div>
                    <div ng-show="ctrl.showFeedback && ctrl.getResponse(question, submission)" class="text-warning">
                        {{ ctrl.getResponse(question, submission).response_feedback }}
                    </div>
                    <div ng-show="ctrl.showFeedback && ctrl.getResponse(question, submission)" class="text-success">
                        <em>{{ ctrl.getResponse(question, submission).question_feedback }}</em>
                    </div>
                    <div>Score: {{ ctrl.getResponse(question, submission) ? ctrl.getResponse(question,
                        submission).score : 0 }}
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" ng-click="ctrl.reloadQuiz()">Backto quiz</button>
        </div>

        <!-- Main quiz -->
        <div class="quiz-detail" ng-show="!(ctrl.showPastSubmissions || ctrl.showLatestSubmission)">
            <p>{{ ctrl.quiz.description }}</p>
            <div class="quiz-question"
                 ng-repeat="question in ctrl.quiz.quizquestion_set | orderBy: 'sort_order' track by $index">
                <h4>Question {{ $index + 1 }}</h4>
                {{ question.content }}
                <div class="answer-choice" ng-repeat="choice in question.answer_choices_detail">
                    <div>
                        <label>
                            <input type="radio" ng-model="question.selectedSingleAnswer"
                                   name="correct-answer-group-{{ question.id }}" value="{{ choice.url }}" required>
                            {{ choice.content }}
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg" ng-click="ctrl.submitQuiz()"
                    ng-disabled="ctrl.pastSubmissions.length >= ctrl.quiz.maximum_attempts">Submit
            </button>
        </div>

        <!-- Result -->
        <div id="quiz-result" ng-show="ctrl.showLatestSubmission && !ctrl.showPastSubmissions">
            <i class="fa fa-spinner fa-3x fa-spin" ng-show="ctrl.latestSubmissionLoading"></i>
            <h3 ng-show="!ctrl.latestSubmissionLoading">You scored <strong>{{ ctrl.latestSubmission.score }}</strong>
                out of {{ ctrl.quiz.maximum_marks }}</h3>
            <div>Questions attempted: {{ ctrl.latestSubmission.num_responses }}/{{ ctrl.quiz.quizquestion_set.length
                }}
            </div>
            <div class="quiz-question"
                 ng-repeat="question in ctrl.quiz.quizquestion_set | orderBy: 'sort_order' track by $index">
                <h6>Question {{ $index + 1 }}
                    <small>(Maximum Score: {{ question.maximum_marks }})</small>
                </h6>
                {{ question.content }}
                <div>Your answer: {{ ctrl.getResponse(question, ctrl.latestSubmission) ?
                    ctrl.getResponse(question, ctrl.latestSubmission).response_content : '-' }}
                </div>
                <div>Score: {{ ctrl.getResponse(question, ctrl.latestSubmission) ? ctrl.getResponse(question,
                    ctrl.latestSubmission).score : 0 }}
                </div>
                <div>
                    Feedback: {{ ctrl.getResponse(question, ctrl.latestSubmission) ? ctrl.getResponse(question,
                    ctrl.latestSubmission).feedback : 0 }}
                </div>
            </div>
            <button class="btn btn-primary"
                    ng-disabled="ctrl.latestSubmissionLoading || ctrl.pastSubmissions.length >= ctrl.quiz.maximum_attempts"
                    ng-click="ctrl.reloadQuiz()">Re-take quiz
            </button>
        </div>


    </div>
    {% endverbatim %}
{% endblock %}

{% block extrascripts %}
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseQuizController.js"></script>
{% endblock %}