{% extends 'course/course-base.html' %}

{% block coursecontent %}
    <h6><a href="{% url 'course-resources-page' course.pk %}">Resources</a> &gt; {{ topic_item.topic.name }}
        &gt; {{ topic_item.name }}
    </h6>
    <h5>{{ topic_item.name }}</h5>
    <div class="row">
        <div class="col-sm-9">
            {% if topic_item.category == 'video' %}
                <div class="resource-item video-item embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ topic_item.videoitem.embed_url }}"></iframe>
                </div>
            {% elif topic_item.category == 'note' %}
                <div>
                    {{ topic_item.noteitem.text | safe }}
                </div>
                <div>
                    {% if  topic_item.noteitem.documents.all|length > 0 %}
                        <h6>Attachments</h6>
                    {% endif %}
                    {% for doc in topic_item.noteitem.documents.all %}
                        <div class="document" data-id="{{ doc.id }}"
                             data-download-url="{% url 'noteitem-document-download' topic_item.noteitem.pk doc.pk %}"><i
                                class="fa fa-fw fa-file"></i> <a href="">{{ doc.name }}</a></div>
                    {% endfor %}
                </div>
                <iframe id="invisible-download-hack" style="display:none;"></iframe>
            {% elif topic_item.category == 'link' %}
                <p><em>Note: This is a link to an external website.</em></p>
                <a href="{{ topic_item.linkitem.link_url }}">{{ topic_item.name }}</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    <script>
        $(document).ready(function () {
            $('.document a').click(function (event) {
                var downloadUrl = $(this).parent().attr('data-download-url');
                $.get(downloadUrl).success(function (url) {
                    $('#invisible-download-hack').attr('src', url);
                });
            });
        });
    </script>
{% endblock %}