{% extends 'course/course-base.html' %}

{% block coursecontent %}
    <h6><a href="{% url 'course-announcements-page' course.pk %}">Announcements</a> &gt; {{ announcement.title }}</h6>
    <h5>
        <small>{{ announcement.create_date | date }} </small>
    </h5>
    <h5>{{ announcement.title }}</h5>
    <div>
        {{ announcement.description | safe }}
    </div>
{% endblock %}