{% extends 'course/course-base.html' %}

{% block coursecontent %}
    {% verbatim %}
    <div ng-controller="CourseResourcesController as ctrl">
        <h6>Resources</h6>
        <div class="resource-topic" ng-repeat="topic in ctrl.resourceTopics">
            <h5>{{ topic.name }}</h5>
            <div class="topic-item" ng-repeat="item in topic.topicitem_set">
                <i ng-show="item.category === 'note'" class="fa fa-fw fa-file-text-o"></i>
                <i ng-show="item.category=== 'video'" class="fa fa-fw fa-video-camera"></i>
                <i ng-show="item.category=== 'link'" class="fa fa-fw fa-link"></i>
                <i ng-show="item.category=== 'quiz'" class="fa fa-fw fa-question-circle"></i>
                <a href="{{ ctrl.baseUrl + 'items/' + item.id }}">{{ item.name }}</a>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block extraccoursescripts %}
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseResourcesController.js"></script>
{% endblock %}