{% extends 'course/course-base.html' %}

{% block coursecontent %}
    {% verbatim %}
    <div ng-controller="CourseHomeController as ctrl">
        <h6>Recent Events</h6>
        <h6 class="event" ng-repeat="n in ctrl.events | orderBy: 'created_timestamp': true">
            <i class="fa fa-fw fa-bullhorn" ng-show="n.category === 'ANNOUNCEMENT'"></i>
            <i class="fa fa-fw fa-book" ng-show="n.category === 'RESOURCE'"></i>
            <i class="fa fa-fw fa-comments" ng-show="n.category === 'FORUM'"></i>
            <small>{{ n.created_timestamp | date }}</small>
            <span ng-switch="!!n.link">
                <a ng-href="{{n.link}}" ng-switch-when="true">{{ n.message }}</a>
                <span ng-switch-when="false">{{ n.message }}</span>
            </span>
        </h6>
    </div>
    {% endverbatim %}
{% endblock %}

{% block extraccoursescripts %}
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseHomeController.js"></script>
{% endblock %}