{% extends "base.html" %}
{% block title %}Set new password{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h4 class="page-header">Choose a new password</h4>
                {% if form.errors %}
                    <p class="text-danger">{{ form.non_field_errors.as_text }}</p>
                    <p class="text-danger">{{ form.new_password1.errors.as_text }}</p>
                    <p class="text-danger">{{ form.new_password2.errors.as_text }}</p>
                {% endif %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input type="password" name="new_password1" placeholder="New password" class="form-control">
                    <br>
                    <input type="password" name="new_password2" placeholder="Re-type password" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>This password reset link is invalid, possibly because it has already been used. Please request a new password
            reset.</p>
    {% endif %}
{% endblock %}
