{% extends "base.html" %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/css/landing-page.css">
{% endblock %}

{% block content %}
    <div class="row jumbotron1 text-center">
        <h5>
            <a href="#" class="playbutton" data-toggle="modal" data-target="#video-modal">
                <i id="a" class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i>
            </a>
        </h5>
        <h2>Your classroom, <span class="text-success">turbocharged! </span></h2>
        <h4> Coursetrack helps you run your classroom online.</h4>
    </div>
    <hr>
    <div id="features-section" class="section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="col-lg-4">
                    <h4> Post Course Material </h4>
                    <table>
                        <tbody>
                        <tr>
                            <td><i class="fa fa-book fa-3x" aria-hidden="true"></i></td>
                            <td> Post course related material such as notes, videos and attachments with ease.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <h4> Make Announcements </h4>
                    <table>
                        <tbody>
                        <tr>
                            <td><i class="fa fa-bell fa-3x" aria-hidden="true"></i></td>
                            <td> Have to cancel a class? Publish test scores? Keep your class informed with
                                Announcements.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <h4> Assign Grades & Marks </h4>
                    <table>
                        <tbody>
                        <tr>
                            <td><i class="fa fa-align-left fa-3x" aria-hidden="true"></i></td>
                            <td> Publish the results of test scores online so that students are informed in real time.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" id="second-row-features">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="col-lg-4">
                    <h4> Gain Insights into Class Performance </h4>
                    <table>
                        <tbody>
                        <tr>
                            <td><i class="fa fa-area-chart fa-3x" aria-hidden="true"></i></td>
                            <td> CourseTrack's gradebook gives you the power of analytics to analyze class
                                performance.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <h4> Engage in Discussions </h4>
                    <table>
                        <tbody>
                        <tr>
                            <td><i class="fa fa-comments-o fa-3x" aria-hidden="true"></i></td>
                            <td> Answer students' questions, ask students questions or let students discuss a problem
                                among themselves.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <h4> Track Events in Timeline </h4>
                    <table>
                        <tbody>
                        <tr>
                            <td><i class="fa fa-history fa-3x" aria-hidden="true"></i></td>
                            <td>Give your students a centralized dashboard to keep track of all course events.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h3 class="features text-center">Request a Free Demo </h3>
            <form method="post" action=".">
                {% csrf_token %}
                <input name="name" class="form-control" type="text" placeholder="Name" required>
                <br>
                <input name="email" class="form-control" type="email" placeholder="Email" required>
                <br>
                <input name="phone" class="form-control" type="number" placeholder="Phone" required>
                <br>
                <textarea name="comments" class="form-control" rows="3" type="textArea"
                          placeholder="Additional Information"></textarea>
                <br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <!-- Video Modal -->
    <div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/VZNMCV-G_8Q" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Ends -->
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">
        $('#video-modal').unbind('hidden');
        $(document).ready(function () {
            var videoUrl = 'https://www.youtube.com/embed/VZNMCV-G_8Q?autoplay=1';
            $("#video-modal").on('hidden.bs.modal', function (e) {
                $(".modal iframe").attr("src", "");
            });
            $("#video-modal").on('shown.bs.modal', function (e) {
                $(".modal iframe").attr("src", videoUrl);
            });
        });
    </script>
{% endblock %}