<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} Coursetrack</title>
    <link rel="stylesheet" href="/static/css/bootstrap-paper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.5/textAngular.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">

    <style type="text/css">
        .navbar-brand {
            font-family: 'Raleway', serif;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 100px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            min-height: 80px;
            background-color: #f5f5f5;
            padding-top: 15px;
        }

        .footer ul {
            padding-left: 0;
            margin-bottom: 0;
        }

        .footer li + li {
            margin-left: 15px;
        }

        .footer li {
            display: inline-block;
        }

        ng-quill-editor .ql-container {
            height: 350px;
        }

        [ng-quill-editor] {
            display: block;
        }
    </style>
    {% block extrahead %}
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">coursetrack</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text">{{ academy.name }}</p>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-fw fa-user"></i> {{ user.get_full_name }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="/dashboard/">Dashboard</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                    <li><a href="{% url 'login-page' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-app="lms">
    {% block content %}
    {% endblock %}
</div>

<footer class="footer">
    <div class="container-fluid">
        <ul>
            <li><a href="{% url 'about-page' %}">About</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'bug-report-page' %}">Report a bug</a></li>
            {% endif %}
        </ul>

        <div class="text-muted">&copy; Coursetrack</div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.3.4/underscore.string.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.3.4/angular-file-upload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.6/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.14.0/sortable.min.js"></script>
<script src="//cdn.quilljs.com/1.3.4/quill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-quill/3.5.1/ng-quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
<script src="/static/js/lmsApp.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-85721991-1', 'auto');
    ga('send', 'pageview');
</script>
{% block extrascripts %}
{% endblock %}
</body>
</html>