{% extends 'base.html' %}

{% block content %}
    <h5>Report a bug</h5>
    <div class="row">
        <div class="col-sm-5">
            <form method="POST" action=".">
                {% csrf_token %}
                <input name="title" placeholder="Title" class="form-control">
                <br>
                <textarea name="description" placeholder="Brief Description" class="form-control" rows="5"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}