{% extends "base.html" %}

{% block title %} Dashboard | {% endblock %}

{% block content %}
    <div class="row" ng-controller="DashboardController as dashboard">
        <div class="col-sm-8">
            {% if academies|length > 0 %}
                <h6>You are a member in the following academies</h6>
                {% for academy in academies %}
                    <h5><a href="{% url 'academy-home' academy.short_name %}">{{ academy.name }}</a></h5>
                {% endfor %}
            {% else %}
                <h6>You are not a member of any schools yet.</h6>
                <h6>If your school uses Coursetrack, ask the school administration to add you to their system.</h6>
            {% endif %}
        </div>
        <div class="col-sm-4">
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script src="/static/js/accounts/dashboardController.js"></script>
{% endblock %}