{% extends "base.html" %}

{% block title %} Login | {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h4 class="page-header">Log In</h4>
            {% if form.errors %}
                <p class="text-danger">{{ form.non_field_errors.as_text }}</p>
            {% endif %}
            <form method="POST" action="/login/{% if next_url != None %}?next={{ next_url }} {% endif %}">
                {% csrf_token %}
                <input name="email" type="email" class="form-control" placeholder="Email" autofocus>
                <br>
                <input name="password" type="password" class="form-control" placeholder="Password">
                <br>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            <br>
            <a href="{% url 'password_reset' %}">Trouble logging in?</a>
        </div>
    </div>

{% endblock %}