{% extends "base.html" %}

{% block title %} Sign up | {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h4 class="page-header">Sign up</h4>
            {% if form.errors %}
                <p class="alert alert-danger">Your form has some errors.</p>
            {% endif %}
            <form method="POST" action="/signup/">
                {% csrf_token %}
                <input name="email" type="email" class="form-control" placeholder="Email" autofocus required>
                {% for e in form.email.errors %}
                    <p class="text-danger">{{ e|escape }}</p>
                {% endfor %}
                <br>
                <input name="first_name" type="text" class="form-control" placeholder="First Name" required>
                {% for e in form.first_name.errors %}
                    <p class="text-danger">{{ e|escape }}</p>
                {% endfor %}
                <br>
                <input name="last_name" type="text" class="form-control" placeholder="Last Name" required>
                {% for e in form.last_name.errors %}
                    <p class="text-danger">{{ e|escape }}</p>
                {% endfor %}
                <br>
                <input name="password" type="password" class="form-control" placeholder="Choose a password" required>
                {% for e in form.password.errors %}
                    <p class="text-danger">{{ e|escape }}</p>
                {% endfor %}
                <br>
                <input name="confirm_password" type="password" class="form-control" placeholder="Re-type your password"
                       required>
                {% for e in form.confirm_password.errors %}
                    <p class="text-danger">{{ e|escape }}</p>
                {% endfor %}
                <br>
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </form>
        </div>
    </div>

{% endblock %}