/*
This stylesheet defines generic styles for all course pages, including pages in the
course admin website. It is included in course-base.html and course-admin-base.html.
*/

.academy-name {
    margin-top: 2px;
}

.nav-pills > li > a {
    color: #888;
    font-size: 14px;
    border-radius: 0px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #888;
}

.course-title {
    margin-top: 2px;
}

.course-page-title {
    margin-bottom: 20px;
}

.course-topic {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.question .title {
    margin: 2px 0px;
}

.grade-entry {
    margin-bottom: 5px;
    padding: 7px 0px;
}

.grade-entry:hover {
    background-color: #eeeeee;
}

.comments .add-comment {
    margin-top: 10px;
}

.comment {
    border-left: 5px solid #888888;
    padding-left: 8px;
    margin-bottom: 3px;
}

.comments .comment-form {
    margin-top: 10px;
}

#quiz-questions {
    margin-top: 30px;
}

#quiz-questions .question .choices-header {
    margin-top: 7px;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.quiz-question {
    margin-top: 20px;
    margin-bottom: 20px;
}