.jumbotron1 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.top-line {
    border-top: 1px solid #eeeeee;
}

.features {
    padding-top: 40px;
    padding-bottom: 30px;
}

#second-row-features {
    padding-top: 30px;
    padding-bottom: 30px;
}

td.feature-icons {
    padding-left: 1px;
    padding-right: 1px;
}

#features-section td {
    padding: 0px 3px;
    vertical-align: top;
}

.brand-font {
    font-family: 'Paytone One', sans-serif;
}

.fa-play-circle-o:hover {
    color: #4caf50;
}

a.playbutton {
    color: #444444;
}

#video-modal .modal-body {
    padding: 0px;
}
