{% extends 'course/admin/course-admin-base.html' %}

{% block coursecontent %}
    {% verbatim %}
    <div ng-controller="CourseAdminGradebookController as ctrl">
        <h5 class="course-page-title">Gradebook
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#create-topic-modal">
                <i class="fa fa-fw fa-plus"></i> New Grade Topic
            </button>
        </h5>
        <h6 ng-repeat="topic in ctrl.topics | orderBy: 'create_date': true">
            <a href="" ng-click="ctrl.loadGrades(topic)" data-toggle="modal" data-target="#grades-modal">
                {{ topic.name }}</a>
            <small>{{ topic.create_date | date }}</small>
            <a ng-click="ctrl.generateReport(topic)" class="btn btn-default btn-xs" href="">
                <i class="fa fa-fw fa-bar-chart"></i></a>
        </h6>

        <canvas id="myChart" width="400" height="400"></canvas>

        <div class="modal" id="create-topic-modal" tabindex="-1" role="dialog"
             aria-labelledby="create-topic-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="create-topic" ng-submit="ctrl.createTopic()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create a new grade topic</h4>
                        </div>
                        <div class="modal-body">
                            <input ng-model="ctrl.newTopic.name" class="form-control" placeholder="Name"
                                   required>
                            <br>
                            <input type="number" ng-model="ctrl.newTopic.maximum_marks" class="form-control"
                                   placeholder="Maximum Marks" required>
                            <br>
                            <select ng-model="ctrl.newTopic.category" class="form-control" required>
                                <option value="" selected disabled>Category</option>
                                <option value="ASSIGNMENT">Assignment</option>
                                <option value="QUIZ">Quiz</option>
                                <option value="TEST">Test</option>
                                <option value="OTHER">Other</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Grades modal -->
        <div class="modal" id="grades-modal" tabindex="-1" role="dialog"
             aria-labelledby="grades-modal-label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{ ctrl.selectedTopic.name }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row grade-entry" ng-repeat="student in ctrl.students">
                            <div class="col-sm-3">
                                <h5>{{ student.last_name }}, {{ student.first_name }}</h5>
                            </div>
                            <form ng-submit="ctrl.gradeStudent(student)">
                                <div class="col-sm-9">
                                    <small class="text-danger" ng-show="student.gradeState.error">There was a problem in
                                        saving this grade.
                                    </small>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input ng-model="student.grade.marks" type="number" class="form-control"
                                                   ng-change="student.gradeState.edited = true"
                                                   placeholder="Marks (out of {{ ctrl.selectedTopic.maximum_marks }})"
                                                   required>
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="letter-grade" ng-model="student.grade.letter_grade"
                                                    class="form-control"
                                                    ng-change="student.gradeState.edited = true">
                                                <option value="" disabled>Letter Grade</option>
                                                <option value="A">A</option>
                                                <option value="A+">A+</option>
                                                <option value="B">B</option>
                                                <option value="B+">B+</option>
                                                <option value="C">C</option>
                                                <option value="C+">C+</option>
                                                <option value="D">D</option>
                                                <option value="D+">D+</option>
                                                <option value="F">F</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <input ng-model="student.grade.comments" type="text" class="form-control"
                                                   ng-change="student.gradeState.edited = true" placeholder="Comments">
                                        </div>
                                        <div class="col-sm-3">
                                            <h5 ng-show="!student.gradeState.blank && !student.gradeState.loading && !student.gradeState.edited">
                                                <i class="fa fa-fw fa-check"></i>
                                            </h5>
                                            <button type="submit" class="btn btn-success btn-block"
                                                    ng-show="student.gradeState.blank || student.gradeState.edited"
                                                    ng-disabled="student.gradeState.loading || !student.gradeState.edited">
                                                Send
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Grade reports modal -->
        <div class="modal" id="grade-charts">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ ctrl.report.topic.name }} Report</h4>
                    </div>
                    <div class="modal-body">
                        <h6>Number of students vs. Marks (range)</h6>
                        <canvas id="histogram" width="400" height="250"></canvas>
                        <br>
                        <h6>Number of students vs. Letter grade</h6>
                        <canvas id="letter-grade-distribution" width="400" height="250"></canvas>
                        <br>
                        <table class="table table-condensed table-striped">
                            <tr ng-repeat="student in ctrl.students">
                                <td>{{ student.last_name }}, {{ student.first_name }}</td>
                                <td>{{ ctrl.report.grades[student.url].marks }}/{{ ctrl.report.topic.maximum_marks }}
                                </td>
                                <td>{{ ctrl.report.grades[student.url].letter_grade }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                        <button ng-click="ctrl.downloadCSV()" type="button" class="btn btn-default">Download CSV
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block extracourseadminscripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blob-polyfill/1.0.20150320/Blob.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseAdminGradebookController.js"></script>
{% endblock %}