{% extends 'course/admin/course-admin-base.html' %}

{% block coursecontent %}
    {% verbatim %}
    <div ng-controller="CourseAdminStudentsController as ctrl">
        <h5 class="course-page-title">Students enrolled in your course
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#add-students-modal">
                <i class="fa fa-fw fa-plus"></i> Add students
            </button>
        </h5>
        <h6 ng-repeat="student in ctrl.courseStudents | orderBy: 'last_name'">{{ student.last_name }}, {{
            student.first_name }}
            <small>{{ student.identification }}</small>
            <a href="" ng-click="ctrl.selectedStudent = student" data-toggle="modal"
               data-target="#remove-student-modal"><i class="fa fa-remove fa-fw"></i></a>
        </h6>

        <!-- Student creation modal -->
        <div class="modal" id="add-students-modal" tabindex="-1" role="dialog"
             aria-labelledby="add-students-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="add-students" ng-submit="ctrl.addStudents()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">
                                Add students to your course <i class="fa fa-spinner" ng-show="ctrl.loading"></i>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.modalErrorMessage">{{ ctrl.modalErrorMessage }}</p>
                            <p class="text-success" ng-show="ctrl.modalSuccessMessage">{{ ctrl.modalSuccessMessage
                                }}</p>
                            <input type="text" ng-model="ctrl.studentSearchText" class="form-control"
                                   placeholder="Search for a student by name ...">
                            <h5 ng-repeat="student in ctrl.academyStudents | filter: ctrl.studentSearchText | limitTo: 10">
                                {{ student.last_name }}, {{ student.first_name }}
                                <small>{{ student.identification }}</small>
                                <i class="fa fa-fw fa-check pull-right"
                                   ng-show="ctrl.courseStudentsSet[student.url]"></i>
                                <button class="btn btn-success btn-xs pull-right"
                                        ng-click="ctrl.addStudent(student)"
                                        ng-disabled="ctrl.loading"
                                        ng-hide="ctrl.courseStudentsSet[student.url]">Add
                                </button>
                            </h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Remove student modal -->
        <div class="modal" id="remove-student-modal" tabindex="-1" role="dialog"
             aria-labelledby="remove-student-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="remove-student-modal-label">Remove {{
                            ctrl.selectedStudent.first_name }} {{
                            ctrl.selectedStudent.last_name }}?</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger" ng-show="ctrl.removeModalErrorMessage">
                            {{ ctrl.removeModalErrorMessage }}</p>
                        <p>Are you sure you want to remove <strong>{{ ctrl.selectedStudent.first_name }} {{
                            ctrl.selectedStudent.last_name }}</strong> from this course?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger"
                                ng-click="ctrl.removeStudent(ctrl.selectedStudent)" ng-disabled="ctrl.loading">Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endverbatim %}
{% endblock %}

{% block extracourseadminscripts %}
    <script src="/static/js/academy/academyFactory.js"></script>
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseAdminStudentsController.js"></script>
{% endblock %}