{% extends "course/admin/course-admin-base.html" %}

{% block coursecontent %}
    {% verbatim %}
    <div ng-controller="CourseAdminResourcesController as ctrl">
        <h5 class="course-page-title">Resources <a href="" data-toggle="modal" data-target="#new-topic-modal"
                                                   class="btn btn-sm btn-success"><i
                class="fa fa-fw fa-plus"></i> New topic</a></h5>
        <div ui-sortable="ctrl.topicSortableOptions" ng-model="ctrl.topics">
            <div class="course-topic" ng-repeat="topic in ctrl.topics">
                <h4 class="topic-heading">
                    {{ topic.name }}
                    <small class="">
                        <a href="" class="topic-sort-handle"><i class="fa fa-fw fa-bars"></i></a>
                        <a href="" ng-click="ctrl.selectedTopic = topic" data-target="#edit-topic-modal"
                           data-toggle="modal"><i class="fa fa-fw fa-pencil"></i></a>
                        <a href="" ng-click="ctrl.selectedTopic = topic" data-target="#delete-topic-modal"
                           data-toggle="modal"><i class="fa fa-fw fa-trash"></i></a>
                    </small>
                </h4>
                <div ui-sortable="ctrl.topicItemSortableOptions" ng-model="topic.topicitem_set">
                    <div class="topic-item" ng-repeat="item in topic.topicitem_set">
                        <i ng-show="item.category === 'note'" class="fa fa-fw fa-file-text-o"></i>
                        <i ng-show="item.category === 'video'" class="fa fa-fw fa-video-camera"></i>
                        <i ng-show="item.category === 'link'" class="fa fa-fw fa-link"></i>
                        <i ng-show="item.category === 'quiz'" class="fa fa-fw fa-question-circle"></i>
                        <a ng-if="item.category !== 'quiz'" ng-click="ctrl.editTopicItemClick(item)" href="">{{
                            item.name }}</a>
                        <a ng-if="item.category === 'quiz'" ng-href="{{ ctrl.getQuizAdminPageUrl(item.id) }}" href="">{{
                            item.name }}</a>
                        <small class="control-buttons">
                            <a href="" class="topic-item-sort-handle"><i class="fa fa-fw fa-bars"></i></a>
                            <a href="" ng-click="ctrl.itemToDelete = item" data-toggle="modal"
                               data-target="#delete-topic-item-modal"><i class="fa fa-fw fa-trash"></i></a>
                        </small>
                    </div>
                </div>
                <a class="btn btn-xs btn-default" ng-click="ctrl.selectedTopic = topic" data-toggle="modal"
                   data-target="#create-video-item-modal"><i class="fa fa-fw fa-video-camera"></i></a>
                <a class="btn btn-xs btn-default" ng-click="ctrl.selectedTopic = topic" data-toggle="modal"
                   data-target="#create-note-item-modal"><i class="fa fa-fw fa-file-text-o"></i></a>
                <a class="btn btn-xs btn-default" ng-click="ctrl.selectedTopic = topic" data-toggle="modal"
                   data-target="#create-link-item-modal"><i class="fa fa-fw fa-link"></i></a>
                <a class="btn btn-xs btn-default" ng-click="ctrl.selectedTopic = topic" data-toggle="modal"
                   data-target="#create-quiz-modal"><i class="fa fa-fw fa-question-circle"></i></a>
            </div>
        </div>

        <!-- Create topic modal -->
        <div class="modal fade" data-backdrop="static" id="new-topic-modal" tabindex="-1" role="dialog"
             aria-labelledby="newTopicModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.createTopic()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="newTopicModalLabel">Create a new topic</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" ng-model="ctrl.newTopic.name"
                                   placeholder="Topic Name" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled="ctrl.loading">
                                <i ng-show="ctrl.loading" class="fa fa-fw fa-refresh fa-spin"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit topic modal -->
        <div class="modal fade" id="edit-topic-modal" tabindex="-1" role="dialog" aria-labelledby="editTopicModalLabel"
             data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.updateTopic()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editTopicModalLabel">Edit topic</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" ng-model="ctrl.selectedTopic.name"
                                   placeholder="Topic Name" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled="ctrl.loading">
                                <i ng-show="ctrl.loading" class="fa fa-fw fa-refresh fa-spin"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Delete topic alert -->
        <div class="modal fade" id="delete-topic-modal" tabindex="-1" role="dialog"
             aria-labelledby="deleteTopicModalLabel" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteTopicModalLabel">Delete topic</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete topic <strong>{{ ctrl.selectedTopic.name }}</strong>?</p>
                        <p>All items inside this topic will also be deleted.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button ng-click="ctrl.deleteTopic()" type="button" class="btn btn-success">Yes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Topic Item Modals -->

        <!-- Create video item modal -->
        <div class="modal fade" id="create-video-item-modal" tabindex="-1" role="dialog"
             aria-labelledby="createVideoItemModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.createVideoItem()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="createVideoItemModal">New video item</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.modalErrorMessage">{{ ctrl.modalErrorMessage }}</p>
                            <input type="text" class="form-control" ng-model="ctrl.newVideoItem.name"
                                   placeholder="Name" required>
                            <br>
                            <input type="url" class="form-control" ng-model="ctrl.newVideoItem.video_url"
                                   placeholder="YouTube link" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled="ctrl.loading">
                                <i ng-show="ctrl.loading" class="fa fa-fw fa-refresh fa-spin"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Create note item modal -->
        <div class="modal fade" id="create-note-item-modal" tabindex="-1" role="dialog"
             aria-labelledby="createNoteItemModal" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.createNoteItem()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="createNoteItemModal">New note item</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.modalErrorMessage">{{ ctrl.modalErrorMessage }}</p>
                            <input type="text" class="form-control" ng-model="ctrl.newNoteItem.name"
                                   placeholder="Name" required>
                            <br>
                            <ng-quill-editor ng-model="ctrl.newNoteItem.text" required></ng-quill-editor>
                            <h5>Attach files</h5>
                            <div class="documents">
                                <div class="checkbox" ng-repeat="doc in ctrl.courseDocuments">
                                    <label><input type="checkbox"
                                                  ng-checked="ctrl.newNoteItem.documents.indexOf(doc.url) > -1"
                                                  ng-click="ctrl.toggleDoc(ctrl.newNoteItem, doc)"> {{ doc.name
                                        }}</label>
                                </div>
                                <div ng-if="ctrl.uploader !== null">
                                    <label class="btn btn-default btn-xs btn-file" ng-show="!ctrl.uploader.isUploading">
                                        Upload a new file <input type="file" nv-file-select="" uploader="ctrl.uploader"
                                                                 multiple="" style="display: none;">
                                    </label>
                                    <span ng-show="ctrl.uploader.isUploading"><i
                                            class="fa fa-fw fa-spinner fa-spin"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled="ctrl.loading">
                                <i ng-show="ctrl.loading" class="fa fa-fw fa-refresh fa-spin"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Create link item modal -->
        <div class="modal fade" id="create-link-item-modal" tabindex="-1" role="dialog"
             aria-labelledby="createLinkItemModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.createLinkItem()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="createLinkItemModal">New link item</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.modalErrorMessage">{{ ctrl.modalErrorMessage }}</p>
                            <input type="text" class="form-control" ng-model="ctrl.newLinkItem.name"
                                   placeholder="Name" required>
                            <br>
                            <input type="url" class="form-control" ng-model="ctrl.newLinkItem.link_url"
                                   placeholder="Link url" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled="ctrl.loading">
                                <i ng-show="ctrl.loading" class="fa fa-fw fa-refresh fa-spin"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit video item modal -->
        <div class="modal fade" id="edit-video-item-modal" tabindex="-1" role="dialog"
             aria-labelledby="editVideoItemModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.updateVideoItem()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editVideoItemModal">Edit video</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.modalErrorMessage">{{ ctrl.modalErrorMessage }}</p>
                            <input type="text" class="form-control" ng-model="ctrl.selectedVideoItem.name"
                                   placeholder="Name" required>
                            <br>
                            <input type="url" class="form-control" ng-model="ctrl.selectedVideoItem.video_url"
                                   placeholder="YouTube link" required>
                            <br>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="{{ ctrl.getEmbedUrl(ctrl.selectedVideoItem.video_url) | trusted }}"></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled="ctrl.loading">
                                <i ng-show="ctrl.loading" class="fa fa-fw fa-refresh fa-spin"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Create quiz modal -->
        <div class="modal fade" id="create-quiz-modal" tabindex="-1" role="dialog"
             aria-labelledby="createQuizModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.createQuiz()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="createQuizModal">New quiz</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.modalErrorMessage">{{ ctrl.modalErrorMessage }}</p>
                            <input type="text" class="form-control" ng-model="ctrl.newQuiz.name"
                                   placeholder="Name" required>
                            <br>
                            <input type="number" class="form-control" ng-model="ctrl.newQuiz.maximum_attempts"
                                   placeholder="Maximum Attempts (default 1)">
                            <br>
                            <textarea class="form-control" ng-model="ctrl.newQuiz.description"
                                      placeholder="Short description" required></textarea>
                            <br>
                            <p>You will be able to add questions after saving.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled="ctrl.loading">
                                <i ng-show="ctrl.loading" class="fa fa-fw fa-refresh fa-spin"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit note item modal -->
        <div class="modal fade" id="edit-note-item-modal" tabindex="-1" role="dialog"
             aria-labelledby="editNoteItemModal" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.updateNoteItem()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editNoteItemModal">Edit note</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.modalErrorMessage">{{ ctrl.modalErrorMessage }}</p>
                            <input type="text" class="form-control" ng-model="ctrl.selectedNoteItem.name"
                                   placeholder="Name" required>
                            <br>
                            <ng-quill-editor ng-model="ctrl.selectedNoteItem.text" required></ng-quill-editor>
                            <h5>Attach files</h5>
                            <div class="documents">
                                <div class="checkbox" ng-repeat="doc in ctrl.courseDocuments">
                                    <label><input type="checkbox"
                                                  ng-checked="ctrl.selectedNoteItem.documents.indexOf(doc.url) > -1"
                                                  ng-click="ctrl.toggleDoc(ctrl.selectedNoteItem, doc)"> {{ doc.name }}</label>
                                </div>
                                <div ng-if="ctrl.uploader !== null">
                                    <label class="btn btn-default btn-xs btn-file" ng-show="!ctrl.uploader.isUploading">
                                        Upload a new file <input type="file" nv-file-select="" uploader="ctrl.uploader"
                                                                 multiple="" style="display: none;">
                                    </label>
                                    <span ng-show="ctrl.uploader.isUploading"><i
                                            class="fa fa-fw fa-spinner fa-spin"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled="ctrl.loading">
                                <i ng-show="ctrl.loading" class="fa fa-fw fa-refresh fa-spin"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit link item modal -->
        <div class="modal fade" id="edit-link-item-modal" tabindex="-1" role="dialog"
             aria-labelledby="editLinkItemModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.updateLinkItem()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editLinkItemModal">Edit link</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger" ng-show="ctrl.modalErrorMessage">{{ ctrl.modalErrorMessage }}</p>
                            <input type="text" class="form-control" ng-model="ctrl.selectedLinkItem.name"
                                   placeholder="Name" required>
                            <br>
                            <input type="url" class="form-control" ng-model="ctrl.selectedLinkItem.link_url"
                                   placeholder="Link url" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-disabled="ctrl.loading">
                                <i ng-show="ctrl.loading" class="fa fa-fw fa-refresh fa-spin"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Delete topic item modal -->
        <div class="modal fade" id="delete-topic-item-modal" tabindex="-1" role="dialog"
             aria-labelledby="deleteTopicItemModalLabel" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteTopicItemModalLabel">Delete topic</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete the item <strong>{{ ctrl.itemToDelete.name }}</strong>? This
                            action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button ng-click="ctrl.deleteTopicItem()" type="button" class="btn btn-success">Yes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endverbatim %}
{% endblock %}

{% block extracourseadminscripts %}
    <script src="/static/js/accounts/userFactory.js"></script>
    <script src="/static/js/academy/instructorFactory.js"></script>
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseAdminResourcesController.js"></script>
{% endblock %}