{% extends "course/admin/course-admin-base.html" %}

{% block coursecontent %}
    {% verbatim %}
    <div ng-controller="CourseAdminQuizController as ctrl">
        <h4>{{ ctrl.quiz.name }}
            <small><a href="" data-toggle="modal" data-target="#edit-quiz-modal"><i class="fa fa-pencil"></i> Edit</a>
            </small>
            <button ng-show="ctrl.state.showQuiz" class="btn btn-primary" ng-click="ctrl.showView('submissions')">View
                Submissions
            </button>
            <button ng-show="ctrl.state.showSubmissions" class="btn btn-primary" ng-click="ctrl.showView('quiz')">Back
                to Quiz
            </button>
            <button class="btn btn-success">Publish</button>
        </h4>
        <div id="basic-quiz-details">
            <div><strong>Description: </strong> {{ ctrl.quiz.description }}</div>
            <div><strong>Maximum Attempts: </strong> {{ ctrl.quiz.maximum_attempts }}</div>
        </div>
        <div id="quiz-questions" ng-show="ctrl.state.showQuiz">
            <h5>Questions <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#add-question-modal"><i
                    class="fa fa-fw fa-plus"></i> New question</a>
            </h5>
            <div ui-sortable="ctrl.questionSortableOptions" ng-model="ctrl.quiz.quizquestion_set">
                <div class="question" ng-repeat="question in ctrl.quiz.quizquestion_set">
                    <div><strong>{{ question.content }}</strong>
                        <small><a href="" ng-click="ctrl.loadQuestionForEditing(question)"><i
                                class="fa fa-fw fa-pencil"></i> Edit</a></small>
                        <small><a href="" class="quiz-question-sort-handle"><i class="fa fa-fw fa-bars"></i>
                            Drag to sort</a></small>
                        <small><a href="" ng-click="ctrl.loadQuestionForDeletion(question)" class="text-danger"><i
                                class="fa fa-fw fa-trash"></i> Delete</a></small>
                    </div>
                    <div>Maximum marks: {{ question.maximum_marks }}</div>
                    <h6 class="choices-header">Choices</h6>
                    <div class="answer-choice" ng-repeat="choice in question.answer_choices_detail">
                        {{ choice.content }} <i ng-if="question.correct_single_answer === choice.url"
                                                class="fa fa-fw fa-check"></i>
                    </div>
                </div>
            </div>
        </div>

        <div id="submissions" ng-show="ctrl.state.showSubmissions">
            <h4>Submissions</h4>
            <div class="well student" ng-repeat="student in ctrl.students">
                <h5>{{ student.last_name + ', ' + student.first_name }}</h5>
                <div class="submission" ng-repeat="submission in student.submissions">
                    <div><a href="" ng-click="submission.showDetails = !submission.showDetails">Attempt {{
                        submission.attempt }}</a> &dash; {{ submission.created_timestamp | date }} (Score: <strong>{{
                        submission.score }})</strong></div>
                    <div ng-show="submission.showDetails">
                        <div>Questions attempted: {{ submission.num_responses }}/{{ ctrl.quiz.quizquestion_set.length
                            }}
                        </div>
                        <div class="quiz-question"
                             ng-repeat="question in ctrl.quiz.quizquestion_set | orderBy: 'sort_order' track by $index">
                            <h6>Question {{ $index + 1 }}
                                <small>(Maximum Score: {{ question.maximum_marks }})</small>
                            </h6>
                            {{ question.content }}
                            <div>Submitted answer: {{ ctrl.getResponse(question, submission) ?
                                ctrl.getResponse(question, submission).response_content : '-' }}
                            </div>
                            <div>Score: {{ ctrl.getResponse(question, submission) ? ctrl.getResponse(question,
                                submission).score : 0 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit quiz modal -->
        <div class="modal fade" id="edit-quiz-modal" tabindex="-1" role="dialog" aria-labelledby="editQuizModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.editQuiz()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editQuizModalLabel">Edit quiz details</h4>
                        </div>
                        <div class="modal-body">
                            <input ng-model="ctrl.quiz.name" placeholder="Quiz name" class="form-control">
                            <br>
                            <input type="number" ng-model="ctrl.quiz.maximum_attempts" placeholder="Maximum Attempts"
                                   class="form-control">
                            <br>
                            <textarea ng-model="ctrl.quiz.description" placeholder="Quiz description"
                                      class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Add question modal -->
        <div class="modal fade" id="add-question-modal" tabindex="-1" role="dialog"
             aria-labelledby="addQuestionModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addQuestionModalLabel">Add a new question</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-danger" ng-show="ctrl.state.addQuestionError">
                            {{ ctrl.state.addQuestionError }}
                        </div>
                        <form id="addQuestionForm" ng-submit="ctrl.addQuestion()">
                            <textarea ng-model="ctrl.newQuestion.content" placeholder="Question details"
                                      class="form-control" required></textarea>
                            <br>
                            <input ng-model="ctrl.newQuestion.maximum_marks" placeholder="Maximum marks"
                                   type="number" class="form-control" required>
                            <br>
                            <input ng-model="ctrl.newQuestion.feedback" placeholder="Short feedback"
                                   class="form-control" required>
                            <br>
                            <h5>Answer Choices</h5>
                            <p class="text-muted" ng-show="!ctrl.newQuestion.answer_choices">No answer choices added
                                yet. Use the form below to add a choice for this question</p>
                            <p>{{ choice.content }}</p>
                            <div class="answer-choice" ng-repeat="choice in ctrl.newQuestion.answer_choices_detail">
                                <div>
                                    <label>
                                        <input type="radio" ng-model="ctrl.newQuestion.correct_single_answer"
                                               name="correct-answer-group" value="{{ choice.url }}" required>
                                        {{ choice.content }}
                                    </label>
                                </div>
                                <div><em>Feedback:</em> {{ choice.feedback }}</div>
                            </div>
                        </form>
                        <div id="new-answer-choice">
                            <div><strong>Add another answer choice</strong></div>
                            <div class="text-danger">{{ ctrl.state.addAnswerChoiceError }}</div>
                            <form id="addAnswerChoiceForm" ng-submit="ctrl.addAnswerChoice(ctrl.newQuestion)">
                                <fieldset ng-disabled="ctrl.state.loadingAddAnswerChoice">
                                    <input ng-model="ctrl.newAnswerChoice.content" class="form-control"
                                           placeholder="Content" required>
                                    <input ng-model="ctrl.newAnswerChoice.feedback" class="form-control"
                                           placeholder="Feedback for this choice (optional)">
                                    <button class="btn btn-default btn-xs" type="submit" href="">Add</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" form="addQuestionForm"
                                ng-disabled="ctrl.state.addQuestionIsLoading">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit question modal -->
        <div class="modal fade" id="edit-question-modal" tabindex="-1" role="dialog"
             aria-labelledby="editQuestionModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editQuestionModalLabel">Edit question</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-danger" ng-show="ctrl.state.editQuestionError">
                            {{ ctrl.state.editQuestionError }}
                        </div>
                        <form id="editQuestionForm" ng-submit="ctrl.editQuestion()">
                            <textarea ng-model="ctrl.selectedQuestion.content" placeholder="Question details"
                                      class="form-control" required></textarea>
                            <br>
                            <input ng-model="ctrl.selectedQuestion.maximum_marks" placeholder="Maximum marks"
                                   type="number" class="form-control" required>
                            <br>
                            <input ng-model="ctrl.selectedQuestion.feedback" placeholder="Short feedback"
                                   class="form-control" required>
                            <br>
                            <h5>Answer Choices</h5>
                            <p class="text-muted" ng-show="!ctrl.selectedQuestion.answer_choices">No answer choices
                                added yet. Use the form below to add a choice for this question</p>
                            <p>{{ choice.content }}</p>
                            <div class="answer-choice"
                                 ng-repeat="choice in ctrl.selectedQuestion.answer_choices_detail">
                                <div>
                                    <label>
                                        <input type="radio" ng-model="ctrl.selectedQuestion.correct_single_answer"
                                               name="correct-answer-group" value="{{ choice.url }}" required>
                                        {{ choice.content }}
                                        <a href=""><i class="fa fa-fw fa-trash"></i></a>
                                    </label>
                                </div>
                                <div><em>Feedback:</em> {{ choice.feedback }}</div>
                            </div>
                        </form>
                        <div id="new-answer-choice">
                            <div><strong>Add another answer choice</strong></div>
                            <div class="text-danger">{{ ctrl.state.addAnswerChoiceError }}</div>
                            <form id="addAnswerChoiceForm" ng-submit="ctrl.addAnswerChoice(ctrl.selectedQuestion)">
                                <fieldset ng-disabled="ctrl.state.loadingAddAnswerChoice">
                                    <input ng-model="ctrl.newAnswerChoice.content" class="form-control"
                                           placeholder="Content" required>
                                    <input ng-model="ctrl.newAnswerChoice.feedback" class="form-control"
                                           placeholder="Feedback for this choice (optional)">
                                    <button class="btn btn-default btn-xs" type="submit" href="">Add</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" ng-disabled="ctrl.state.editQuestionIsLoading"
                                form="editQuestionForm">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delete-question-modal" tabindex="-1" role="dialog"
             aria-labelledby="deleteQuestionModalLabel" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteQuestionModalLabel">Delete question</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-danger">{{ ctrl.state.deleteQuestionError }}</div>
                        <p>Are you sure you want to delete the following question from the quiz?</p>
                        <p><strong>{{ ctrl.questionToDelete.content }}</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button ng-click="ctrl.deleteQuestion()" type="button" class="btn btn-success"
                                ng-disabled="ctrl.state.deletingQuestion">Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {% endverbatim %}
{% endblock %}

{% block extrascripts %}
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseAdminQuizController.js"></script>
{% endblock %}