{% extends 'course/admin/course-admin-base.html' %}

{% block coursecontent %}
    {% verbatim %}
    <div ng-controller="CourseForumQuestionController as ctrl">
        <h6 class="course-page-title">Forum</h6>
        <h5>
            <small ng-show="ctrl.question.author.url === ctrl.user.url">
                <a href="" data-target="#edit-question-modal" data-toggle="modal">
                    Edit <i class="fa fa-fw fa-pencil"></i></a>
            </small>
        </h5>
        <h4>{{ ctrl.question.title }}</h4>
        <div ng-bind-html="ctrl.question.text"></div>
        <h6 class="author-name">
            <em>&mdash; {{ ctrl.question.author.first_name }} {{ ctrl.question.author.last_name }},
                {{ ctrl.question.created_timestamp | date : 'medium' }}</em>
        </h6>
        <h5>Comments</h5>
        <div id="question-comments" class="comments">
            <div class="comment" ng-repeat="comment in ctrl.question.comments">
                <div>{{ comment.content }} &mdash; <em>{{ comment.author_name }}
                    <small class="text-muted">{{ comment.created_timestamp | date : 'medium' }}</small>
                </em>
                </div>
            </div>
            <form ng-submit="ctrl.addQuestionComment()" ng-show="ctrl.addingQuestionComment" class="comment-form">
                <textarea class="form-control" ng-model="ctrl.newQuestionComment"
                          placeholder="Enter your comment here."></textarea>
                <button type="submit" class="btn btn-default btn-xs" ng-disabled="ctrl.loading">Add Comment</button>
                <a href="" class="cancel-comment" ng-click="ctrl.addingQuestionComment = false">Cancel</a>
            </form>
            <a href="" ng-click="ctrl.addingQuestionComment = true" class="add-comment"
               ng-show="!ctrl.addingQuestionComment">Add a comment</a>
        </div>

        <h5 class="page-header">{{ ctrl.answers.length }} Answer<span ng-show="ctrl.answers.length != 1">s</span>
            <button class="btn btn-success btn-sm" ng-show="!ctrl.alreadyAnswered" data-target="#add-answer-modal"
                    data-toggle="modal">Add your answer
            </button>
        </h5>
        <div ng-repeat="answer in ctrl.answers" class="well forum-answer">
            <h5>
                <small ng-show="answer.author.url === ctrl.user.url">
                    <a href="" data-target="#edit-answer-modal" data-toggle="modal">
                        Edit <i class="fa fa-fw fa-pencil"></i></a>
                </small>
            </h5>
            <div ng-bind-html="answer.text"></div>
            <h6 class="author-name">
                <em>&mdash; {{ answer.author.first_name }} {{ answer.author.last_name }}, {{ answer.created_timestamp |
                    date : 'medium' }}
                </em>
            </h6>
            <h5>Comments</h5>
            <div class="comments">
                <div class="comment" ng-repeat="comment in answer.comments">
                    <div>{{ comment.content }} &mdash; <em>{{ comment.author_name }}
                        <small class="text-muted">{{ comment.created_timestamp | date : 'medium' }}</small>
                    </em>
                    </div>
                </div>
                <form ng-submit="ctrl.addAnswerComment(answer)" ng-show="answer.newComment.addingComment"
                      class="comment-form">
                    <textarea class="form-control" ng-model="answer.newComment.content"
                              placeholder="Enter your comment here."></textarea>
                    <button type="submit" class="btn btn-default btn-xs" ng-disabled="ctrl.loading">Add Comment</button>
                    <a href="" class="cancel-comment" ng-click="answer.newComment.addingComment = false">Cancel</a>
                </form>
                <a href="" ng-click="answer.newComment.addingComment = true" class="add-comment"
                   ng-show="!answer.newComment.addingComment">Add a comment</a>
            </div>
        </div>

        <div class="modal fade" id="add-answer-modal" tabindex="-1" role="dialog"
             aria-labelledby="addAnswerModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.answerQuestion()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="addAnswerModal">Add your answer</h4>
                        </div>
                        <div class="modal-body">
                            <ng-quill-editor ng-model="ctrl.userAnswer.text" required></ng-quill-editor>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-answer-modal" tabindex="-1" role="dialog"
             aria-labelledby="editAnswerModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.editAnswer()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editAnswerModal">Edit answer</h4>
                        </div>
                        <div class="modal-body">
                            <ng-quill-editor ng-model="ctrl.userAnswer.text" required></ng-quill-editor>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-question-modal" tabindex="-1" role="dialog"
             aria-labelledby="editQuestionModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.editQuestion()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editAnswerModal">Edit question</h4>
                        </div>
                        <div class="modal-body">
                            <input ng-model="ctrl.question.title" class="form-control" placeholder="Question Title">
                            <br>
                            <ng-quill-editor ng-model="ctrl.question.text" required></ng-quill-editor>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    {% endverbatim %}
{% endblock %}

{% block extracourseadminscripts %}
    <script src="/static/js/accounts/userFactory.js"></script>
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseForumQuestionController.js"></script>
{% endblock %}
