{% extends 'course/admin/course-admin-base.html' %}

{% block coursecontent %}
    {% verbatim %}
    <div ng-controller="CourseAdminAnnouncementsController as ctrl">
        <h5 class="course-page-title">Announcements
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-announcement-modal">
                <i class="fa fa-fw fa-plus"></i> New Announcement
            </button>
        </h5>
        <h6 ng-repeat="announcement in ctrl.announcements | orderBy: 'create_date': true">
            <small>{{ announcement.create_date | date }}</small>
            <a href="" ng-click="ctrl.loadAnnouncement(announcement)" data-toggle="modal"
               data-target="#edit-announcement-modal">{{ announcement.title }}</a>
        </h6>

        <div class="modal" id="new-announcement-modal" tabindex="-1" role="dialog"
             aria-labelledby="new-announcement-modal-label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="text-danger" ng-show="ctrl.createErrorMessage">
                        {{ ctrl.createErrorMessage }}
                    </div>
                    <form id="new-announcement" ng-submit="ctrl.createAnnouncement()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">
                                New Announcement
                            </h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" ng-model="ctrl.newAnnouncement.title" class="form-control"
                                   placeholder="Title" required>
                            <br>
                            <ng-quill-editor ng-model="ctrl.newAnnouncement.description" placeholder="Details ..."
                                             required>
                            </ng-quill-editor>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success"
                                    ng-disabled="ctrl.savingAnnouncement">Create
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal" id="edit-announcement-modal" tabindex="-1" role="dialog"
             aria-labelledby="edit-announcement-modal-label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="text-danger" ng-show="ctrl.updateErrorMessage">
                        {{ ctrl.updateErrorMessage }}
                    </div>
                    <form id="edit-announcement" ng-submit="ctrl.updateAnnouncement()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">
                                Edit Announcement
                            </h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" ng-model="ctrl.selectedAnnouncement.title" class="form-control"
                                   placeholder="Title" required>
                            <br>
                            <ng-quill-editor ng-model="ctrl.selectedAnnouncement.description"
                                             placeholder="Details ..."
                                             required></ng-quill-editor>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success"
                                    ng-disabled="ctrl.savingAnnouncement">Save
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block extracourseadminscripts %}
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseAdminAnnouncementsController.js"></script>
{% endblock %}