{% extends "base.html" %}

{% block title %} {{ course.name }} | {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/css/course.css">
{% endblock %}

{% block content %}
    <h5 class="page-header course-title">{{ course.name }} - Administration
        {% for instructor in course.instructors.all %}
            <small>{{ instructor.get_name }}</small>
        {% endfor %}
    </h5>

    <div class="row">
        <div class="col-sm-2">
            {% url 'course-admin-home-page' course.pk as admin_home %}
            {% url 'course-admin-resources-page' course.pk as admin_resources %}
            {% url 'course-admin-forum-page' course.pk as admin_forum %}
            {% url 'course-admin-announcements-page' course.pk as admin_announcements %}
            {% url 'course-admin-gradebook-page' course.pk as admin_gradebook %}
            {% url 'course-admin-students-page' course.pk as admin_students %}


            <ul class="nav nav-pills nav-stacked">
                <li {% if request.path == admin_home %}class="active"{% endif %}><a href="{{ admin_home }}"><i
                        class="fa fa-fw fa-home"></i> Home</a></li>
                <li {% if admin_resources in request.path %}class="active"{% endif %}><a href="{{ admin_resources }}"><i
                        class="fa fa-fw fa-book"></i> Resources</a></li>
                <li {% if admin_forum in request.path %}class="active"{% endif %}><a href="{{ admin_forum }}"><i
                        class="fa fa-fw fa-comments"></i> Forum</a></li>
                <li {% if request.path == admin_announcements %}class="active"{% endif %}><a
                        href="{{ admin_announcements }}"><i
                        class="fa fa-fw fa-bullhorn"></i> Announcements</a></li>
                <li {% if request.path == admin_gradebook %}class="active"{% endif %}><a href="{{ admin_gradebook }}"><i
                        class="fa fa-fw fa-bar-chart"></i> Gradebook</a></li>
                <li {% if request.path == admin_students %}class="active"{% endif %}><a href="{{ admin_students }}"><i
                        class="fa fa-fw fa-users"></i> Students</a></li>

            </ul>
        </div>
        <div class="col-sm-10">
            {% block coursecontent %}
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    {% block extracourseadminscripts %}
    {% endblock %}
{% endblock %}