{% extends 'course/admin/course-admin-base.html' %}

{% block coursecontent %}
    <p>Hello {{ user.first_name }}. This is the course administration website. Use the navigation links on the left
        to:</p>
    <ul>
        <li>Add course materials under <strong>Resources</strong></li>
        <li>Answer questions your students have asked on the <strong>Forum</strong></li>
        <li>Inform your students of important events through <strong>Announcements</strong></li>
        <li>Track student performace with the <strong>Gradebook</strong></li>
        <li>Manage <strong>Students</strong></li>
    </ul>
{% endblock %}