{% extends 'course/admin/course-admin-base.html' %}

{% block coursecontent %}
    {# unfortunately this is duplicate code #}
    {% verbatim %}
    <div ng-controller="CourseForumHomeController as ctrl">
        <h5 class="course-page-title">Forum <a href="" data-toggle="modal" data-target="#new-question-modal"
                                               class="btn btn-success btn-sm"><i
                class="fa fa-fw fa-plus"></i> Ask a Question</a></h5>
        <div ng-repeat="question in ctrl.questions | orderBy: 'created_timestamp': true" class="question">
            <h6 class="title">
                <a href="{{location.href + 'questions/' + question.id }}">{{ question.title }}</a>
                <span class="text-muted">{{ question.answer_count }} answer<span
                        ng-show="question.answer_count !== 1">s</span></span>
            </h6>
            {{ question.created_timestamp | date : 'medium' }}, {{ question.author.first_name }} {{
            question.author.last_name }}
        </div>

        <!-- Create question modal -->
        <div class="modal fade" id="new-question-modal" tabindex="-1" role="dialog"
             aria-labelledby="newQuestionModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="ctrl.createQuestion()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="newQuestionModal">Ask a new question</h4>
                        </div>
                        <div class="modal-body">
                            <input ng-model="ctrl.newQuestion.title" type="text" class="form-control"
                                   placeholder="Title" required>
                            <br>
                            <ng-quill-editor ng-model="ctrl.newQuestion.text" placeholder="Details"
                                             required></ng-quill-editor>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}

{% endblock %}

{% block extracourseadminscripts %}
    <script src="/static/js/course/courseFactory.js"></script>
    <script src="/static/js/course/courseForumHomeController.js"></script>
{% endblock %}
